<!--商品列表-->
<!--商品列表-->
<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon"th:href="@{/images/01.jpg}" />
    <title>员工管理</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<style>
    /* 上传头像样式 */
    .imgtop {
        position: relative;
        top: 0px;
        left: 0px;
        width: 300px;
        height: auto;
        overflow: hidden;
        margin: 20px auto;
        color: #FFFFFF;

    }

    .in {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }

    .btnnn {
        width: 200px;
        height: 200px;

    }

    .spantext {
        font-size: 18px;
        color: #a09e9e;
        margin-top: 400px;
        margin-left: 20px;
    }

    .imgs {
        width: 150px;
        height: 150px;
        vertical-align: middle;
        border: 1px #eee;
        border-radius: 15px;
    }
</style>

<body>
<div id="app">
    <!-- <div id="loading"><div id="loading-center"></div></div> -->
    <div class="wrapper">
        <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
                <a href="/Index">
                    <!-- <img src="images/01.jpg" class="img-fluid" alt=""> -->
                    <span>湛小鲜后台管理</span>
                </a>

            </div>
            <div id="sidebar-scrollbar">
                <nav class="iq-sidebar-menu">
                    <ul class="iq-menu">

                        <li class="active">
                            <a href="/Index" class="iq-waves-effect"><i
                                    class="ri-home-8-fill"></i><span>内部成员首页</span></a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i
                                    class="ri-settings-5-fill"></i><span>营销情况</span><i
                                    class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/Index">营销情况</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i
                                    class="ri-user-settings-fill"></i><span>商品管理 </span><i
                                    class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/CommodityList">商品列表</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-todo-fill"></i><span>订单管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/Orders">订单管理</a></li>
                            </ul>
                        </li>
                        <!--                    <li>-->
<!--                        <a href="javascript:void(0);" class="iq-waves-effect"><i-->
<!--                                class="ri-file-edit-fill"></i><span>快递管理</span><i-->
<!--                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>-->
<!--                        <ul class="iq-submenu">-->
<!--                            <li><a href="/Address">快递地址管理</a></li>-->
<!--                            <li><a href="/Delivery">配送管理</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i
                                    class="ri-alarm-warning-fill"></i><span>优惠券 </span><i
                                    class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/Coupons">优惠券</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i
                                    class="ri-bar-chart-2-fill"></i><span>员工管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/HireUser_management">员工管理 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-barricade-fill"></i><span>内部成员管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/InternalUser_management">内部成员管理 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-battery-2-charge-line"></i><span>顾客管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/User_management">顾客管理 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i
                                    class="ri-pie-chart-2-fill"></i><span>个人中心
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/Mine">查看个人信息</a></li>
                                <!--<li><a href="/Member_info">查看成员信息</a></li>-->
<!--                                <li><a href="/Modify_Info">修改个人信息</a></li>-->
                                <li><a href="/Boss_management">注册账号</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <div class="p-3"></div>
            </div>
        </div>

        <!-- Page Content  -->
        <div id="content-page" class="content-page">
            <!-- TOP Nav Bar -->
            <div class="iq-top-navbar">
                <div class="iq-navbar-custom">

                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <div class="iq-search-bar">
                            <form action="#" class="searchbar">
                                <!-- 按照编号查找 -->
                                <span class="text search-input keyword">欢迎来到湛小鲜后台管理系统</span>
                            </form>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto navbar-list">
                                <!-- 全屏图标 -->
                                <li class="nav-item iq-full-screen">
                                    <a href="#" class="iq-waves-effect" id="btnFullscreen"><i
                                            class="ri-fullscreen-line"></i></a>
                                </li>
                            </ul>
                        </div>
                        <ul class="navbar-list">
                            <li>
                                <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                                   <img th:src="@{/images/01.jpg}" class="img-fluid rounded mr-3" alt="boss">
                                    <div class="caption">
                                        <h6 class="mb-0 line-height">湛小鲜</h6>
                                        <span class="font-size-12">管理员</span>
                                    </div>
                                </a>
                                <div class="iq-sub-dropdown iq-boss-dropdown">
                                    <div class="iq-card shadow-none m-0">
                                        <div class="iq-card-body p-0 ">
                                            <div class="bg-primary p-3">
                                                <h5 class="mb-0 text-white line-height">你好-湛小鲜</h5>
                                            </div>
                                            <a href="/Mine" class="iq-sub-card iq-bg-primary-hover">
                                                <div class="media align-items-center">
                                                    <div class="rounded iq-card-icon iq-bg-primary">
                                                        <i class="ri-file-boss-line"></i>
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">个人中心</h6>
                                                    </div>
                                                </div>
                                            </a>
                                        <!--                                            <a href="/Modify_Info" class="iq-sub-card iq-bg-primary-hover">-->
<!--                                                <div class="media align-items-center">-->
<!--                                                    <div class="rounded iq-card-icon iq-bg-primary">-->
<!--                                                        <i class="ri-profile-line"></i>-->
<!--                                                    </div>-->
<!--&lt;!&ndash;                                                    <div class="media-body ml-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <h6 class="mb-0 ">修改个人信息</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--                                                </div>-->
<!--                                            </a>-->
                                            <div class="d-inline-block w-100 text-center p-3">
                                                <a class="bg-primary iq-sign-btn" href="/signIn" role="button">退出登录<i
                                                        class="ri-login-box-line ml-2"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
            <!-- TOP Nav Bar END -->
            <div class="container-fluid">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">员工管理</h4>
                        </div>
                    </div>

                    <div class="iq-card-body">
                        <div class="topbtn">
                            <a href="#" class="btn btn-bg-gradient-x-purple-red" data-toggle="modal"
                               data-target="#myModal">添加员工</a>
                        </div>
                        <div class="selbox">
                            <div class="form1">
                                <ul class="row">
                                    <li class="col-xs-4">
                                        <span>员工编号：</span>
                                        <input type="text" v-model="keyword1" class="form-control keyword1">
                                    </li>

                                    <li class="col-xs-4">
                                        <span>员工名称：</span>
                                        <input type="text" v-model="keyword2" class="form-control keyword2">
                                    </li>
                                    <li class="col-xs-4" style="padding-left: 10px">
                                        <a href="javascript:;" class="btn btn-primary" @click="query()">查询</a>
                                        <!-- <a class="btn" role="button" data-toggle="collapse" href="#collapseExample"
                                           aria-expanded="false" aria-controls="collapseExample">更多查询条件</a> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
<!--                                <th><label for="hireUserTop"></label><input type="checkbox" class="allsel"-->
<!--                                                                            id="hireUserTop"></th>-->
                                <th>员工编号</th>
                                <th>员工密码</th>
                                <th>员工名称</th>
                                <th>员工职位</th>
                                <th>手机号码</th>
                                <th>身份证</th>
                                <th>员工头像</th>
                                <th>员工工资</th>
                                <th>员工收入比例</th>
                                <th>完成单数</th>
                                <th>员工状态</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="hireUser in hireUserList">
<!--                                <td><label for="hireUserBtm"></label><input type="checkbox" id="hireUserBtm"-->
<!--                                                                            onclick="calculatAll()"></td>-->
                                <td class="hire_user_id">{{hireUser.hire_user_id}}</td>
                                <td>{{hireUser.hire_user_password}}</td>
                                <td>{{hireUser.hire_user_name}}</td>
                                <td>{{hireUser.hire_user_identity}}</td>
                                <td>{{hireUser.hire_user_phone}}</td>
                                <td>{{hireUser.hire_user_identitycard}}</td>
                                <td><img class="roundimg" :src="hireUser.hire_user_image" width="50px"></td>
                                <td>{{hireUser.hire_user_revenue}}</td>
                                <td>{{hireUser.hire_user_proportion}}</td>
                                <td>{{hireUser.hire_user_tradednumber}}</td>
                                <td>{{hireUser.hire_user_is_deleted}}</td>
                                <td>{{hireUser.hire_user_create_time}}</td>
                                <td><a href="javaScript:;" class="btn btn-warning"
                                       @click="updateHireUser($event)">修改</a><a href="javaScript:;"
                                                                                class="btn btn-danger"
                                                                                @click="deleteHireUser($event)">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation" class="page">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" @click="prePageWay($event)" aria-label="Previous">
                                        <span aria-hidden="true">上一页</span>
                                    </a>
                                </li>
                                <li :class="index==pageNum? 'page-item active':'page-item'"
                                    v-for="index in navigatepageNums">
                                    <a class="page-link" name="clickPage" @click="clickPageWay($event)"
                                       href="javascript:;">{{index}}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" @click="nextPageWay($event)" aria-label="Next">
                                        <span aria-hidden="true">下一页</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

<!--                        <div class="">-->
<!--                            <a href="javascript:;" class="btn btn-danger" @click="deleteByids">批量删除</a>-->
<!--                        </div>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">添加员工</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 label-control">员工名称</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" v-model="newHireUser.hire_user_name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control">员工密码</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" v-model="newHireUser.hire_user_password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control">员工职位</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" v-model="newHireUser.hire_user_identity">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control">手机号码</label>
                            <div class="col-md-9">
                                <input type="tel" class="form-control" minlength="11" maxlength="11" placeholder="请输入11位手机号"  onkeyup="value=value.replace(/[^\d]/g,'')"
                                       v-model="newHireUser.hire_user_phone">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 label-control">身份证</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" minlength="18" maxlength="18" placeholder="请输入18位身份证" oninput = "value=value.replace(/[\u4E00-\u9FA5]/g,'')"
                                       v-model="newHireUser.hire_user_identitycard">
                            </div>
                        </div>

<!--                        <div class="form-group row">-->
<!--                            <label class="col-md-3 label-control" for="eventRegInput1">员工收入</label>-->
<!--                            <div class="col-md-9">-->
<!--                                <input type="text" class="form-control" v-model="newHireUser.hire_user_revenue">-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="form-group row">-->
<!--                            <label class="col-md-3 label-control" for="eventRegInput1">收入比例</label>-->
<!--                            <div class="col-md-9">-->
<!--                                <input type="text" class="form-control" v-model="newHireUser.hire_user_proportion">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group row">-->
<!--                            <label class="col-md-3 label-control" for="eventRegInput1">完成单数</label>-->
<!--                            <div class="col-md-9">-->
<!--                                <input type="text" class="form-control" v-model="newHireUser.hire_user_tradednumber">-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="form-group row">
                            <label class="col-md-3 label-control">状态</label>
                            <div class="col-md-9">
                                </span><select class="form-control" style="width: 320px;"
                                               v-model="newHireUser.hire_user_is_deleted">
                                <option>0</option>
                            </select>
                            </div>
                        </div>
                        <!--<div class="form-group row">-->
                        <!--<label class="col-md-3 label-control" for="eventRegInput1">加入时间</label>-->
                        <!--<div class="col-md-9">-->
                        <!--<input type="date" class="form-control" v-model="newHireUser.hireUser_createTime">-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="imgtop">
                            <!-- 只接受jpg，gif和png格式 -->
                            <input id="upload-input" class="in" type="file" accept="image/gif, image/jpg, image/png"
                                   ref="picx" onchange="showImg(this)"/>
                            <!-- 自定义按钮效果 -->
                                <img id="upload" style="display: none" class="imgs"/>
                                <br>
                                <span class="spantext">点击上传头像</span>
                        </div>
                    </form>
                </div>
                </form>
                <div class="modal-footer">
                    <span>{{msg}}</span>
                    <button type="button" class="btn btn-def" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="submit">执行操作</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/smooth-scrollbar.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script th:src="@{/js/axios-0.18.0.js}"></script>
<script th:src="@{/js/vue.js}"></script>
<script>
    // 上传头像
    function showImg(input) {
        var file = input.files[0];
        var reader = new FileReader()
        // 图片读取成功回调函数
        reader.onload = function (e) {
            document.getElementById('upload').style.display = "block"
            document.getElementById('upload').src = e.target.result
        }
        reader.readAsDataURL(file)
    }

    new Vue({
        el: '#app',
        data: {
            state: 0,
            hireUserList: [],
            // 新员工
            newHireUser: {
                hire_user_id: "",
                hire_user_name: "",
                hire_user_identity: "",
                hire_user_password: "",
                hire_user_phone: "",
                hire_user_identitycard: "",
                hire_user_image: "",
                hire_user_revenue: "",
                hire_user_proportion: 0.00,
                // hireUser_createTime:"",
                hire_user_tradednumber: 0,
                hire_user_is_deleted: 0
            },
            // 复选框选中数据集合，点击复选框后一行数据以对象为单位全部保存进该数组
            multipleSelection: [],
            //所有导航页号
            navigatepageNums: [],
            //总页数
            pages: 0,
            //每页显示数
            pageSize: 0,
            //总条目数
            totalCount: 0,
            // 当前页码
            pageNum: 1,
            //是否有上一页
            hasPreviousPage: false,
            //是否有下一页
            hasNextPage: false,
            // 是否为第一页
            isFirstPage: false,
            //	是否为最后一页
            isLastPage: false,
            //上一页
            prePage: 0,
            // 下一页
            nextPage: 0,
            if_Search: 0,//判断该页面的数据是否是查询后的数据
            keyword1:'',//第一个输入框的值
            keyword2:'',//第二个输入框的值
            hireImgfile:"hireUserImg",//员工图片文件夹的名字
            msg:""//添加成功的提示
        },
        mounted() {
            // 请求后端数据
            axios
                .get('/hireUserController/findAllHireUser')
                .then(response => (//请求成功
                    this.updateData(response)
                ))
                .catch(function (error) {
                    console.log(error);//请求失败
                })
        },
        methods: {

            //分页
            //更新页面数据的方法封装
            updateData(response) {
                console.log(response.data)//返回的数据
                console.log("数组数据：" + response.data.list)
                this.hireUserList = response.data.list,
                    this.totalCount = response.data.total,//设置总条数
                    this.pageSize = response.data.pageSize,//设置当前页面显示的数据条目
                    this.pageNum = response.data.pageNum,//设置当前页码
                    this.pages = response.data.pages,//设置总页数
                    this.hasPreviousPage = response.data.hasPreviousPage,//是否有上一页
                    this.hasNextPage = response.data.hasNextPage,//是否有下一页
                    this.isFirstPage = response.data.isFirstPage,//是否为第一页
                    this.isLastPage = response.data.isLastPage,//是否为最后一页
                    this.prePage = response.data.prePage,//上一页
                    this.nextPage = response.data.nextPage//下一页
                this.navigatepageNums = response.data.navigatepageNums//设置所有导航页号
            },
            //上一页
            prePageWay(e) {
                if (this.if_Search == 1){//判断是否为查询过的页面
                    if (this.hasPreviousPage == true) {
                        axios.get('/hireUserController/SearchHireUser?pageNum=' + this.prePage + '&hire_user_id=' + this.keyword1 + '&hire_user_name=' + this.keyword2)
                            .then(response => {
                                this.updateData(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            })
                    } else {
                        axios.get('/hireUserController/SearchHireUser?pageNum=' + 1  + '&hire_user_id=' + this.keyword1 + '&hire_user_name=' + this.keyword2)
                            .then(response => {
                                this.updateData(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            })
                    }
                }else {
                    if (this.hasPreviousPage == true) {
                        axios.get('/hireUserController/findAllHireUser?pageNum=' + this.prePage)
                            .then(response => {
                                this.updateData(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            })
                    } else {
                        axios.get('/hireUserController/findAllHireUser?pageNum=' + 1)
                            .then(response => {
                                this.updateData(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            })
                    }
                }
            },

            //下一页
            nextPageWay(e) {
                if (this.if_Search == 1){//判断是否为查询过的页面
                    if (this.hasNextPage == true) {
                        axios.get('/hireUserController/SearchHireUser?pageNum=' + this.nextPage + '&hire_user_id=' + this.keyword1 + '&hire_user_name=' + this.keyword2)
                            .then(response => {
                                this.updateData(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            })
                    } else {
                        axios.get('/hireUserController/SearchHireUser?pageNum=' + this.pages + '&hire_user_id=' + this.keyword1 + '&hire_user_name=' + this.keyword2)
                            .then(response => {
                                this.updateData(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            })
                    }
                }else {
                    if (this.hasNextPage == true) {
                        axios.get('/hireUserController/findAllHireUser?pageNum=' + this.nextPage)
                            .then(response => {
                                this.updateData(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            })
                    } else {
                        axios.get('/hireUserController/findAllHireUser?pageNum=' + this.pages)
                            .then(response => {
                                this.updateData(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            })
                    }
                }
            },

            //点击页数
            clickPageWay(e) {
                if (this.if_Search == 1){//判断是否为查询过的页面
                    var id = event.currentTarget.innerHTML;
                    console.log("id" + id)
                    axios.get('/hireUserController/SearchHireUser?pageNum=' + id + '&hire_user_id=' + this.keyword1 + '&hire_user_name=' + this.keyword2)
                        .then(response => {
                            this.updateData(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                }else {
                    var id = event.currentTarget.innerHTML;
                    console.log("id" + id)
                    axios.get('/hireUserController/findAllHireUser?pageNum=' + id)
                        .then(response => {
                            this.updateData(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                }
            },

            //删除员工
            deleteHireUser(e) {
                if (confirm("您是否确定删除")) {
                    var id = e.currentTarget.parentElement.parentElement.getElementsByClassName("hire_user_id")[0].innerText;
                    axios.get('/hireUserController/deleteHireUserById?hire_user_id=' + id)
                        .then(response => {
                            console.log(id)
                            console.log(response.data)//返回的数据
                            window.location.href='HireUser_management'
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                }
            },

            // 修改员工
            updateHireUser(e) {
                var id = e.currentTarget.parentElement.parentElement.getElementsByClassName("hire_user_id")[0].innerText;
                e.currentTarget.href = 'Modify_hireInfo?hire_user_id=' + id;
                console.log(e.currentTarget.href);
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            // 批量删除员工
            deleteByids() {
                this.multipleSelection.forEach((item) => {
                    this.ids.push(item.id)
                })
                console.log(this.ids)
                if (this.ids.length == 0) {
                    this.$message({
                        type: 'success',
                        message: '请先选择需要删除的信息'
                    })
                } else {
                    this.$confirm('你确定吗？', '提示', {
                        confirmButtonText: "确认删除？",
                        concelButtonText: "取消",
                        type: 'warning'
                    }).then(function (resp) {
                        axios({
                            method: "get",
                            url: "/接口",
                            data: ids
                        }).then(function (resp) {
                            if (resp.data > 0) {
                                mounted();
                            }
                        })
                    })
                }
            },
            // 添加新员工
            addNewHireUser() {
                console.log("new:++++++++", this.newHireUser);
                var hireUser = this.newHireUser;
                axios.post('/hireUserController/addHireUserById', hireUser).then(response => (
                    console.log(response.data)
                ))
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
            // 按字段查询
            query() {
                console.log("keyword1:",this.keyword1,"keyword2:",this.keyword2)
                axios({
                    method: 'get',
                    url: '/hireUserController/SearchHireUser?hire_user_id=' + this.keyword1 + '&hire_user_name=' + this.keyword2,
                }).then(res => {
                    console.log("查询成功");
                    console.log(res.data);
                    if (res.data.size != 0) {
                        this.updateData(res);
                        this.if_Search = 1;//标记该页面是已经搜索过的页面
                    }else {
                        alert("暂无该搜索数据，可换个词语重新搜索噢~~")
                    }
                }, err => {
                    console.log(err);
                })
            },
            submit(){
                var that =this;
                let fd =new FormData();
                fd.append("file",this.$refs.picx.files[0]);
                fd.append("hireImgfile",this.hireImgfile);
                let descJson = JSON.stringify(this.newHireUser);                           //对象数组转换为JSON
                let descBob  = new Blob([descJson], {                               //对象数组转换为Blob
                    type: 'application/json',
                });
                // console.log(this.newHireUser)
                fd.append("hireUser",descBob);
                console.log(this.$refs.picx.files[0]);
                if(this.$refs.picx.files[0] == null){
                    alert("请上传头像！！")
                }else {
                    axios({
                        url: "/hireUserController/addHireUserById",
                        method: "post",
                        headers: {'Content-Type': 'multipart/form-data'},
                        data: fd
                    }).then(function (reponse) {
                        console.log(reponse);
                        var data = reponse.data;
                        if (data.code == 200) {
                            that.msg=data.message;
                            window.location.href='HireUser_management'
                            // document.getElementById('uploadt').src = data.data;
                        } else {
                            that.msg=data.message;
                        }
                    })
                }

            },

            //分页
            handleSizeChange(val) {
                // console.log(`每页 ${val} 条`);
                //设置每一页的分页查询
                this.pageSize = val
                mounted();
            },
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                //重新设置当前页码
                this.currentPage = val
                mounted();
            }
        }
    })

</script>
</body>

</html>