<!--内部成员管理-->
<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon"th:href="@{/images/01.jpg}" />
   <title>内部成员管理</title>
   <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<style>
   /* 上传头像样式 */
   .imgtop {
      position: relative;
      top: 0px;
      left: 0px;
      width: 300px;
      height: auto;
      overflow: hidden;
      margin: 20px auto;
      color: #FFFFFF;

   }

   .in {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
   }

   .btnnn {
      width: 200px;
      height: 200px;

   }

   .spantext {
      font-size: 18px;
      color: #a09e9e;
      margin-top: 400px;
      margin-left: 20px;
   }

   .imgs {
      width: 150px;
      height: 150px;
      vertical-align: middle;
      border: 1px #eee;
      border-radius: 15px;
   }
</style>

<body>
<div id="app">
   <!-- <div id="loading"><div id="loading-center"></div></div> -->
   <div class="wrapper" >
      <div class="iq-sidebar">
         <div class="iq-sidebar-logo d-flex justify-content-between">
            <a href="/Index">
               <!-- <img src="images/01.jpg" class="img-fluid" alt=""> -->
               <span>湛小鲜后台管理</span>
            </a>

         </div>
         <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
               <ul class="iq-menu">

                  <li class="active">
                     <a href="/Index" class="iq-waves-effect"><i class="ri-home-8-fill"></i><span>内部成员首页</span></a>
                  </li>

                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i
                             class="ri-settings-5-fill"></i><span>营销情况</span><i
                             class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="/Index">营销情况</a></li>
                     </ul>
                  </li>

                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i
                             class="ri-user-settings-fill"></i><span>商品管理 </span><i
                             class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="/CommodityList">商品列表</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-todo-fill"></i><span>订单管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="/Orders">订单管理</a></li>
                     </ul>
                  </li>
                  <!--                    <li>-->
<!--                        <a href="javascript:void(0);" class="iq-waves-effect"><i-->
<!--                                class="ri-file-edit-fill"></i><span>快递管理</span><i-->
<!--                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>-->
<!--                        <ul class="iq-submenu">-->
<!--                            <li><a href="/Address">快递地址管理</a></li>-->
<!--                            <li><a href="/Delivery">配送管理</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i
                             class="ri-alarm-warning-fill"></i><span>优惠券 </span><i
                             class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="/Coupons">优惠券</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-bar-chart-2-fill"></i><span>员工管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="/InternalUser_management">员工管理 </a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-barricade-fill"></i><span>内部成员管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="/User_management">内部成员管理 </a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-battery-2-charge-line"></i><span>顾客管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="/HireUser_management">顾客管理 </a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-pie-chart-2-fill"></i><span>个人中心
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                     <ul class="iq-submenu">
                        <li><a href="/Mine">查看个人信息</a></li>
                        <!--<li><a href="/Member_info">查看成员信息</a></li>-->
<!--                        <li><a href="/Modify_Info">修改个人信息</a></li>-->
                        <li><a href="/Boss_management">注册账号</a></li>
                     </ul>
                  </li>

               </ul>
            </nav>
            <div class="p-3"></div>
         </div>
      </div>

      <!-- Page Content  -->
      <div id="content-page" class="content-page">
         <!-- TOP Nav Bar -->
         <div class="iq-top-navbar">
            <div class="iq-navbar-custom">

               <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <div class="iq-search-bar">
                     <form action="#" class="searchbox">
                        <!-- 按照编号查找 -->
                        <span class="text search-input keyword">欢迎来到湛小鲜后台管理系统</span>
                     </form>
                  </div>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav ml-auto navbar-list">
                        <!-- 全屏图标 -->
                        <li class="nav-item iq-full-screen">
                           <a href="#" class="iq-waves-effect" id="btnFullscreen"><i class="ri-fullscreen-line"></i></a>
                        </li>
                     </ul>
                  </div>
                  <ul class="navbar-list">
                     <li>
                        <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                          <img th:src="@{/images/01.jpg}" class="img-fluid rounded mr-3" alt="boss">
                           <div class="caption">
                              <h6 class="mb-0 line-height">湛小鲜</h6>
                              <span class="font-size-12">管理员</span>
                           </div>
                        </a>
                        <div class="iq-sub-dropdown iq-boss-dropdown">
                           <div class="iq-card shadow-none m-0">
                              <div class="iq-card-body p-0 ">
                                 <div class="bg-primary p-3">
                                    <h5 class="mb-0 text-white line-height">你好-湛小鲜</h5>
                                 </div>
                                 <a href="/Mine" class="iq-sub-card iq-bg-primary-hover">
                                    <div class="media align-items-center">
                                       <div class="rounded iq-card-icon iq-bg-primary">
                                          <i class="ri-file-boss-line"></i>
                                       </div>
                                       <div class="media-body ml-3">
                                          <h6 class="mb-0 ">个人中心</h6>
                                       </div>
                                    </div>
                                 </a>
<!--                                 <a href="/Modify_Info" class="iq-sub-card iq-bg-primary-hover">-->
<!--                                    <div class="media align-items-center">-->
<!--                                       <div class="rounded iq-card-icon iq-bg-primary">-->
<!--                                          <i class="ri-profile-line"></i>-->
<!--                                       </div>-->
<!--&lt;!&ndash;                                       <div class="media-body ml-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                          <h6 class="mb-0 ">修改个人信息</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                                       </div>&ndash;&gt;-->
<!--                                    </div>-->
<!--                                 </a>-->
                                 <div class="d-inline-block w-100 text-center p-3">
                                    <a class="bg-primary iq-sign-btn" href="/signIn" role="button">退出登录<i
                                            class="ri-login-box-line ml-2"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </nav>

            </div>
         </div>
         <!-- TOP Nav Bar END -->
         <div class="container-fluid">
            <div class="iq-card">
               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">内部成员管理</h4>
                  </div>
               </div>

               <div class="iq-card-body">
                  <div class="topbtn">
                     <a href="#" class="btn btn-bg-gradient-x-purple-red" data-toggle="modal"
                        data-target="#myModal">添加成员</a>
                  </div>
                  <div class="selbox">
                     <div class="form1">
                        <ul class="row">
                           <li class="col-xs-4">
                              <span>成员编号：</span>
                              <input type="text" class="form-control keyword1">
                           </li>

                           <li class="col-xs-4">
                              <span>成员收入：</span>
                              <input type="text" class="form-control keyword2">
                           </li>
                           <li class="col-xs-4" style="padding-left: 10px">
                              <a href="javascript:;" class="btn btn-primary" @click="query()">查询</a>
                              <!-- <a class="btn" role="button" data-toggle="collapse" href="#collapseExample"
                                 aria-expanded="false" aria-controls="collapseExample">更多查询条件</a> -->
                           </li>
                        </ul>
                     </div>
                     <!-- <div class="collapse in" id="collapseExample" aria-expanded="true">
                        <div class="form1">
                           <ul class="row">
                              <li class="col-xs-4">
                                 <span>手机号码：</span>
                                 <input type="text" class="form-control">
                              </li>
                              <li class="col-xs-4">
                                 <span>身份证：</span>
                                 <input type="text" class="form-control">
                              </li>
                           </ul>
                        </div>
                     </div> -->
                  </div>
                  <div class="tablebox">
                     <div class="tablebox">
                        <table class="table tablemd">
                           <thead>
                              <tr>
                                 <th><input type="checkbox" class="allsel" id="hireUserTop"></th>
                                 <th>成员编号</th>
                                 <th>成员姓名</th>
                                 <th>成员头像</th>
                                 <th>成员收入</th>
                                 <th>成员状态</th>
                                 <th>操作</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr v-for="internalUser in internalUserList">
                                 <td><input type="checkbox" id="hireUserBtm" onclick="calculatAll()"></td>
                                 <td class="InternalUser_id">{{internalUser.InternalUser_id}}</td>
                                 <td>{{internalUser.InternalUser_name}}</td>
                                 <td><img :src="internalUser.InternalUser_image" style="height: 100px; width:100px;">
                                 </td>
                                 <td><span class="badge badge-success">{{internalUser.InternalUser_revenue}}</span></td>
                                 <td><span class="badge badge-info">{{internalUser.InternalUser_is_deleted}}</span></td>
                                 <td><a href="javaScript:;" class="btn btn-warning"
                                    @click="updateInternalUser($event)">修改</a><a href="javaScript:;"
                                    class="btn btn-danger" @click="deleteInternalUser($event)">删除</a></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="">
                     <a href="javascript:;" class="btn btn-danger" @click="deleteByids">批量删除</a>
                  </div>
                  <!--分页工具条-->
                  <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                     :current-page="currentPage" :page-sizes="[5, 10, 15, 20]" :page-size="5"
                     layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
                  </el-pagination>
               </div>
            </div>

         </div>
      </div>
   </div>
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">添加成员</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">
               <form class="form form-horizontal">
                  <div class="form-group row">
                     <label class="col-md-3 label-control" >成员名称</label>
                     <div class="col-md-9">
                        <input type="text" class="form-control" v-model="newInternalUser.InternalUser_name">
                     </div>
                  </div>

                  <div class="form-group row">
                     <label class="col-md-3 label-control">成员收入</label>
                     <div class="col-md-9">
                        <input type="text" class="form-control" v-model="newInternalUser.InternalUser_revenue">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-md-3 label-control" >状态</label>
                     <div class="col-md-9">
                        </span><select class="form-control" style="width: 320px;"
                           v-model="newInternalUser.InternalUser_is_deleted">
                           <option value="0">在职</option>
                           <option value="1">离职</option>
                        </select>
                     </div>
                  </div>
                  <div class="imgtop">
                     <!-- 只接受jpg，gif和png格式 -->
                     <input id="upload-input" class="in" type="file" accept="image/gif, image/jpg, image/png"
                        onchange="showImg(this)" />
                     <!-- 自定义按钮效果 -->
                     <div class="btnnn">
                        <img id="upload" :src="newInternalUser.InternalUser_image" class="imgs" />
                        <br>
                        <span class="spantext">点击上传头像</span>
                     </div>
                  </div>
            </form>
            <div class="modal-footer">
               <button type="button" class="btn btn-def" data-dismiss="modal">关闭</button>
               <button type="button" class="btn btn-primary" @click="addNewInternalUser()">执行操作</button>
            </div>
         </div>
      </div>
   </div>
   </div>
</div>
   <script th:src="@{/js/jquery.min.js}"></script>
   <script th:src="@{/js/bootstrap.min.js}"></script>
   <script th:src="@{/js/smooth-scrollbar.js}"></script>
   <script th:src="@{/js/custom.js}"></script>
   <script th:src="@{/js/echarts.min.js}"></script>
   <script th:src="@{/js/axios-0.18.0.js}"></script>
   <script th:src="@{/js/vue.js}"></script>
   <script>
      // 上传头像
      function showImg(input) {
         var file = input.files[0];
         var reader = new FileReader()
         // 图片读取成功回调函数
         reader.onload = function (e) {
            document.getElementById('upload').src = e.target.result
         }
         reader.readAsDataURL(file)
      }

      new Vue({
         el: '#app',
         data: {
            state: 0,
            internalUserList:[
            {
               InternalUser_id: "001",
               InternalUser_name: "zhanxiaoxian",
               InternalUser_password: "000",
               InternalUser_image: "",
               InternalUser_revenue: 1000.00,
               InternalUser_is_deleted: 0
            },
            {
               InternalUser_id: "001",
               InternalUser_name: "zhanxiaoxian",
               InternalUser_password: "000",
               InternalUser_image: "",
               InternalUser_revenue: 1000.00,
               InternalUser_is_deleted: 0
            },
            {
               InternalUser_id: "001",
               InternalUser_name: "zhanxiaoxian",
               InternalUser_password: "000",
               InternalUser_image: "",
               InternalUser_revenue: 1000.00,
               InternalUser_is_deleted: 0
            }
            ],
            // 新成员
            newInternalUser:[
            {
               InternalUser_id: "",
               InternalUser_name: "",
               InternalUser_password: "",
               InternalUser_image: "",
               InternalUser_revenue: 0.00,
               InternalUser_is_deleted: 0
            }
            ],
            // 复选框选中数据集合，点击复选框后一行数据以对象为单位全部保存进该数组
            multipleSelection: [],
            //保存选中的id号
            ids: [],
            //每页显示数
            pageSize: 5,
            //总条目数
            totalCount: 0,
            // 当前页码
            currentPage: 1,
         },
         mounted() {
            // 请求后端数据
            axios
               .get('/接口')
               .then(response => (//请求成功
                  console.log(response.data),
                  this.internalUserList = response.data,
                  console.log(this.internalUserList),
                  this.totalCount = response.data.count//设置总条数
               ))
               .catch(function (error) {
                  // console.log(error);//请求失败
               })
         },
         methods: {
            //删除成员
            deleteInternalUser(e) {
               if (confirm("您是否确定删除")) {
                  var id = e.currentTarget.parentElement.parentElement.getElementsByClassName("InternalUser_id")[0].innerText;
                  this.state = 1;
                  axios.get('/接口?InternalUser_id=' + id + '&state=' + this.state)
                     .then(response => {
                        console.log(this.state);
                        console.log(response.data)//返回的数据
                     })
                     .catch(function (error) {
                        console.log(error);
                     })
               }
            },
            // 修改成员
            updateInternalUser(e) {
               var id = e.currentTarget.parentElement.parentElement.getElementsByClassName("InternalUser_id")[0].innerText;
               e.currentTarget.href = 'Modify_member?InternalUser_id=' + id;
               console.log(e.currentTarget.href);
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
               this.multipleSelection = val;
            },
            // 批量删除成员
            deleteByids() {
               this.multipleSelection.forEach((item) => {
                  this.ids.push(item.id)
               })
               console.log(this.ids)
               if (this.ids.length == 0) {
                  this.$message({
                     type: 'success',
                     message: '请先选择需要删除的信息'
                  })
               } else {
                  this.$confirm('你确定吗？', '提示', {
                     confirmButtonText: "确认删除？",
                     concelButtonText: "取消",
                     type: 'warning'
                  }).then(function (resp) {
                     axios({
                        method: "get",
                        url: "/接口",
                        data: ids
                     }).then(function (resp) {
                        if (resp.data > 0) {
                           mounted();
                        }
                     })
                  })
               }
            },

            // 添加新员工
            addNewInternalUser() {
               axios
                  .post('/接口', this.newInternalUser).then(response => (
                     console.log(response.data),
                     this.newInternalUser = {}
                  ))
                  .catch(function (error) { // 请求失败处理
                     console.log(error);
                  });
            },
            // 按编号查询
            query1() {
               var keyword = $(".keyword").val();
               if (keyword == null|| keyword == "") {
                  Field = "all"
               }
               axios({
                  method: 'get',
                  url: '/接口?keyword=' + keyword 
               }).then(res => {
                  console.log("查询成功");
                  console.log(res.data);
                  if (res.data == null) {
                     this.commodityList = [];
                  } else {
                     this.commodityList = res.data;
                  }
               }, err => {
                  console.log(err);
               })
            },
            // 按字段查询
            query() {
               var keyword1 = $(".keyword1").val();
               var keyword2 = $(".keyword2").val();
               if (keyword1 == null && keyword2 == null || keyword1 == "" && keyword2 == "") {
                  Field = "all"
               }
               axios({
                  method: 'get',
                  url: '/接口?keyword1=' + keyword1 + '&keyword2=' + keyword2,
               }).then(res => {
                  console.log("查询成功");
                  console.log(res.data);
                  if (res.data == null) {
                     this.internalUserList = [];
                  } else {
                     this.internalUserList = res.data;
                  }
               }, err => {
                  console.log(err);
               })
            },
            //分页
            handleSizeChange(val) {
               // console.log(`每页 ${val} 条`);
               //设置每一页的分页查询
               this.pageSize = val
               mounted();
            },
            handleCurrentChange(val) {
               //console.log(`当前页: ${val}`);
               //重新设置当前页码
               this.currentPage = val
               mounted();
            }
         }
      })

   </script>
</body>

</html>