<!--修改订单-->
<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon"th:href="@{/images/01.jpg}" />
    <title>修改订单商品信息</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<style>
    .spantext {
        font-size: 18px;
        color: #a09e9e;
        margin-top: 400px;
        margin-left: 20px;
    }

    .imgs {
        width: 150px;
        height: 150px;
        vertical-align: middle;
        border: 1px #eee;
        border-radius: 15px;
    }
</style>
<body>
<!-- <div id="loading"><div id="loading-center"></div></div> -->
<div class="wrapper" id="app">
    <div class="iq-sidebar">
        <div class="iq-sidebar-logo d-flex justify-content-between">
            <a href="Index.html">
                <!-- <img src="images/01.jpg" class="img-fluid" alt=""> -->
                <span>湛小鲜后台管理</span>
            </a>

        </div>
        <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
                <ul class="iq-menu">

                    <li class="active">
                        <a href="/Index" class="iq-waves-effect"><i class="ri-home-8-fill"></i><span>内部成员首页</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="iq-waves-effect"><i
                                class="ri-settings-5-fill"></i><span>营销情况</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                            <li><a href="/Index">营销情况</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="iq-waves-effect"><i
                                class="ri-user-settings-fill"></i><span>商品管理 </span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                            <li><a href="/CommodityList">商品列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-todo-fill"></i><span>订单管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                            <li><a href="/Orders">订单管理</a></li>
                        </ul>
                    </li>
                    <!--                    <li>-->
<!--                        <a href="javascript:void(0);" class="iq-waves-effect"><i-->
<!--                                class="ri-file-edit-fill"></i><span>快递管理</span><i-->
<!--                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>-->
<!--                        <ul class="iq-submenu">-->
<!--                            <li><a href="/Address">快递地址管理</a></li>-->
<!--                            <li><a href="/Delivery">配送管理</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

                    <li>
                        <a href="javascript:void(0);" class="iq-waves-effect"><i
                                class="ri-alarm-warning-fill"></i><span>优惠券 </span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                            <li><a href="/Coupons">优惠券</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-bar-chart-2-fill"></i><span>员工管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                            <li><a href="/HireUser_management">员工管理 </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-barricade-fill"></i><span>内部成员管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                            <li><a href="/InternalUser_management">内部成员管理 </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-battery-2-charge-line"></i><span>顾客管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                            <li><a href="/User_management">顾客管理 </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-pie-chart-2-fill"></i><span>个人中心
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul class="iq-submenu">
                            <li><a href="/Mine">查看个人信息</a></li>
                            <!--<li><a href="/Member_info">查看成员信息</a></li>-->
<!--                            <li><a href="/Modify_Info">修改个人信息</a></li>-->
                            <li><a href="/Boss_management">注册账号</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <div class="p-3"></div>
        </div>
    </div>

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <!-- TOP Nav Bar -->
        <div class="iq-top-navbar">
            <div class="iq-navbar-custom">

                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-search-bar">
                        <form action="#" class="searchbox">
                            <!-- 按照编号查找 -->
                            <span class="text search-input keyword">欢迎来到湛小鲜后台管理系统</span>
                        </form>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-list">
                            <!-- 全屏图标 -->
                            <li class="nav-item iq-full-screen">
                                <a href="#" class="iq-waves-effect" id="btnFullscreen"><i
                                        class="ri-fullscreen-line"></i></a>
                            </li>
                        </ul>
                    </div>
                    <ul class="navbar-list">
                        <li>
                            <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                               <img th:src="@{/images/01.jpg}" class="img-fluid rounded mr-3" alt="boss">
                                <div class="caption">
                                    <h6 class="mb-0 line-height">湛小鲜</h6>
                                    <span class="font-size-12">管理员</span>
                                </div>
                            </a>
                            <div class="iq-sub-dropdown iq-boss-dropdown">
                                <div class="iq-card shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                        <div class="bg-primary p-3">
                                            <h5 class="mb-0 text-white line-height">你好-湛小鲜</h5>
                                        </div>
                                        <a href="/Mine" class="iq-sub-card iq-bg-primary-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-primary">
                                                    <i class="ri-file-boss-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">个人中心</h6>
                                                </div>
                                            </div>
                                        </a>
<!--                                        <a href="/Modify_Info" class="iq-sub-card iq-bg-primary-hover">-->
<!--                                            <div class="media align-items-center">-->
<!--                                                <div class="rounded iq-card-icon iq-bg-primary">-->
<!--                                                    <i class="ri-profile-line"></i>-->
<!--                                                </div>-->
<!--&lt;!&ndash;                                                <div class="media-body ml-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <h6 class="mb-0 ">修改个人信息</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--                                            </div>-->
<!--                                        </a>-->
                                        <div class="d-inline-block w-100 text-center p-3">
                                            <a class="bg-primary iq-sign-btn" href="/signIn" role="button">退出登录<i
                                                    class="ri-login-box-line ml-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
        <!-- TOP Nav Bar END -->
        <div class="content-wrapper">
            <div class="content-header ">
                <div class="content-header-left mb-2 clearfix">
                    <h3 class="content-header-title mb-0 pull-left">修改订单商品信息</h3>
                    <ol class="breadcrumb pull-right">
                        <!--需修改地址-->
                        <li><a href="/Orders">订单详情</a></li>
                        <li class="active">修改订单商品信息</li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="funcbtn clearfix">
                            <!--需修改地址-->
                            <div class="pull-left"><a class="btn btn-default" href="/Orders"> 返回</a></div>
                        </div>
                        <div class="form1 form3">
                            <ul class="row">
                                <li class="col-sm-10 col-xs-12"><span>商品信息编号：</span><input type="text"
                                                                                         class="form-control"
                                                                                         style="width: 600px;"
                                                                                         v-model="newGoodsInformation.orderItem_id">
                                </li>
                                <li class="col-sm-10 col-xs-12"><span>订单编号：</span><input type="text"
                                                                                          class="form-control"
                                                                                          style="width: 600px;"
                                                                                          v-model="newGoodsInformation.order_id">
                                </li>
                                <li class="col-sm-10 col-xs-12"><span>商品编号：</span><input type="text"
                                                                                         class="form-control"
                                                                                         style="width: 600px;"
                                                                                         v-model="newGoodsInformation.commodity_id">
                                </li>
                                <li class="col-sm-10 col-xs-12"><span>子属性编号：</span><input type="text"
                                                                                         class="form-control"
                                                                                         style="width: 600px;"
                                                                                         v-model="newGoodsInformation.sonAttribute_id">
                                </li>
                                <li class="col-sm-10 col-xs-12"><span>商品数量：</span><input type="text"
                                                                                         class="form-control"
                                                                                         style="width: 600px;"
                                                                                         v-model="newGoodsInformation.orderItem_amount">
                                </li>
                                <li class="col-sm-10 col-xs-12"><span>商品名称：</span><input type="text"
                                                                                         class="form-control"
                                                                                         style="width: 600px;"
                                                                                         v-model="newGoodsInformation.orderItem_goodname">
                                </li>
                                <li class="col-sm-10 col-xs-12"><span>属性名称：</span><input type="text"
                                                                                         class="form-control"
                                                                                         style="width: 600px;"
                                                                                         v-model="newGoodsInformation.Attribute_name">
                                </li>
                                <li class="col-sm-10 col-xs-12"><span>商品价格：</span><input type="text"
                                                                                         class="form-control"
                                                                                         style="width: 600px;"
                                                                                         v-model="newGoodsInformation.orderItem_goodprice">
                                </li>
                                <li class="col-sm-10 col-xs-12"><span>下单时间：</span><input type="time"
                                                                                         class="form-control"
                                                                                         style="width: 600px;"
                                                                                         v-model="newGoodsInformation.orderItem_createTime">
                                </li>
                                <li class="col-sm-10 col-xs-12"><span>用户删除标字：</span><input type="text"
                                                                                         class="form-control"
                                                                                         style="width: 600px;"
                                                                                         v-model="newGoodsInformation.orderItem_user_delete">
                                </li>
                                <li class="col-sm-10 col-xs-12"><input type="submit" class="btn btn-primary"
                                                                       value="确认修改" @click="updateNewGoods()"></li>
                            </ul>
                            <div class="imgtop">
                                <!-- 只接受jpg，gif和png格式 -->
                                <input id="upload-input" class="in" type="file" accept="image/gif, image/jpg, image/png"
                                       onchange="showImg(this)" />
                                <!-- 自定义按钮效果 -->
                                <div class="btnnn">
                                    <img id="upload" :src="newGoodsInformation.orderItem_goodimage" class="imgs" />
                                    <br>
                                    <span class="spantext">点击上传图片</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/smooth-scrollbar.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script th:src="@{/js/axios-0.18.0.js}"></script>
<script th:src="@{/js/vue.js}"></script>
</body>
<script>

    // 获取对应id
    function getQueryString(orderItem_id) {
        var reg = new RegExp('(^|&)' + orderItem_id + '=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        }
    }

    var orderItem_id = getQueryString("orderItem_id");
    console.log(orderItem_id);


    new Vue({
        el: '#app',
        data: {
            goodsInformationList: [],
            newGoodsInformation: {
                orderItem_id:"",
                order_id: "",
                commodity_id:"",
                sonAttribute_id:"",
                orderItem_amount:0,
                orderItem_goodname: "",
                orderItem_goodimage: "",
                Attribute_name: "",
                oorderItem_goodprice:0.00,
                orderItem_createTime:"YYYY-MM-DD HH：MM：SS",
                order_newCreateTime:"YYYY-MM-DD HH：MM：SS",
                orderItem_user_delete:0
            },
        },
        methods: {
            updateNewGoods() {//修改订单商品信息
                if (confirm("您是否确认修改")) {
                    axios
                        .post('/接口', this.newGoodsInformation).then(response => (
                        console.log(response.data),
                            this.newGoodsInformation = {}
                    )
                )
                .
                    catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
                }

            }


        },
        mounted() {//查找对应的订单
            axios
                .get('/接口?orderItem_id=' + orderItem_id)
                .then(response => (
                console.log(response.data),
                    this.goodsInformationList = response.data,
                    console.log(this.goodsInformationList),
                    this.newGoodsInformation = this.goodsInformationList
            )
        )
        .
            catch(function (error) { // 请求失败处理
                // console.log(error);
            });

        }
    })

</script>

</html>