<!--订单管理-->
<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon"th:href="@{/images/01.jpg}" />
    <title>订单管理</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<style>
    tbody {
        height: auto;
        overflow-y: auto;
        overflow-x: auto;
        padding-bottom: 5px;
        background-color: white;
        scrollbar-base-color: ghostwhite;
    }

    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #1ABC9C;
        border: 1px solid #ebebeb;
    }

    #updatebut {
        margin-left: 100px;
    }
</style>

<style>
    table tbody {
        display:block;
        height:195px;
        overflow-y:scroll;
    }

    table thead, tbody tr {
        display:table;
        width:100%;
        table-layout:auto;
    }

    /*thead th, tbody td{*/
    /*    width: calc( 100% - 1em )*/
    /*}*/
    table th, table td {
        /*height: 50px;*/
        text-align: center;
        /*border: 1px solid gray;*/
    }

    table thead tr, table tbody tr{
        box-sizing: border-box;
        table-layout: fixed;
        display: table;
        width: 100%;
    }

</style>

<body>
<div id="app">
    <!-- <div id="loading"><div id="loading-center"></div></div> -->
    <div class="wrapper">
        <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
                <a href="/Index">
                    <!-- <img src="images/01.jpg" class="img-fluid" alt=""> -->
                    <span>湛小鲜后台管理</span>
                </a>

            </div>
            <div id="sidebar-scrollbar">
                <nav class="iq-sidebar-menu">
                    <ul class="iq-menu">

                        <li class="active">
                            <a href="/Index" class="iq-waves-effect"><i
                                    class="ri-home-8-fill"></i><span>内部成员首页</span></a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i
                                    class="ri-settings-5-fill"></i><span>营销情况</span><i
                                    class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/Index">营销情况</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i
                                    class="ri-user-settings-fill"></i><span>商品管理 </span><i
                                    class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/CommodityList">商品列表</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-todo-fill"></i><span>订单管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/Orders">订单管理</a></li>
                            </ul>
                        </li>
                        <!--                    <li>-->
<!--                        <a href="javascript:void(0);" class="iq-waves-effect"><i-->
<!--                                class="ri-file-edit-fill"></i><span>快递管理</span><i-->
<!--                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>-->
<!--                        <ul class="iq-submenu">-->
<!--                            <li><a href="/Address">快递地址管理</a></li>-->
<!--                            <li><a href="/Delivery">配送管理</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i
                                    class="ri-alarm-warning-fill"></i><span>优惠券 </span><i
                                    class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/Coupons">优惠券</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i
                                    class="ri-bar-chart-2-fill"></i><span>员工管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/HireUser_management">员工管理 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-barricade-fill"></i><span>内部成员管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/InternalUser_management">内部成员管理 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-battery-2-charge-line"></i><span>顾客管理
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/User_management">顾客管理 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="iq-waves-effect"><i
                                    class="ri-pie-chart-2-fill"></i><span>个人中心
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul class="iq-submenu">
                                <li><a href="/Mine">查看个人信息</a></li>
                                <!--<li><a href="/Member_info">查看成员信息</a></li>-->
                                <!--                                <li><a href="/Modify_Info">修改个人信息</a></li>-->
                                <li><a href="/Boss_management">注册账号</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <div class="p-3"></div>
            </div>
        </div>

        <!-- Page Content  -->
        <div id="content-page" class="content-page">
            <!-- TOP Nav Bar -->
            <div class="iq-top-navbar">
                <div class="iq-navbar-custom">

                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <div class="iq-search-bar">
                            <form action="#" class="searchbox">
                                <!-- 按照编号查找 -->
                                <span class="text search-input keyword">欢迎来到湛小鲜后台管理系统</span>
                            </form>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto navbar-list">
                                <!-- 全屏图标 -->
                                <li class="nav-item iq-full-screen">
                                    <a href="#" class="iq-waves-effect" id="btnFullscreen"><i
                                            class="ri-fullscreen-line"></i></a>
                                </li>
                            </ul>
                        </div>
                        <ul class="navbar-list">
                            <li>
                                <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                                   <img th:src="@{/images/01.jpg}" class="img-fluid rounded mr-3" alt="boss">
                                    <div class="caption">
                                        <h6 class="mb-0 line-height">湛小鲜</h6>
                                        <span class="font-size-12">管理员</span>
                                    </div>
                                </a>
                                <div class="iq-sub-dropdown iq-boss-dropdown">
                                    <div class="iq-card shadow-none m-0">
                                        <div class="iq-card-body p-0 ">
                                            <div class="bg-primary p-3">
                                                <h5 class="mb-0 text-white line-height">你好-湛小鲜</h5>
                                            </div>
                                            <a href="/Mine" class="iq-sub-card iq-bg-primary-hover">
                                                <div class="media align-items-center">
                                                    <div class="rounded iq-card-icon iq-bg-primary">
                                                        <i class="ri-file-boss-line"></i>
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">个人中心</h6>
                                                    </div>
                                                </div>
                                            </a>
                                            <!--                                 <a href="/Modify_Info" class="iq-sub-card iq-bg-primary-hover">-->
<!--                                    <div class="media align-items-center">-->
<!--                                       <div class="rounded iq-card-icon iq-bg-primary">-->
<!--                                          <i class="ri-profile-line"></i>-->
<!--                                       </div>-->
<!--                                       <div class="media-body ml-3">-->
<!--                                          <h6 class="mb-0 ">修改个人信息</h6>-->
<!--                                       </div>-->
<!--                                    </div>-->
<!--                                 </a>-->
                                            <div class="d-inline-block w-100 text-center p-3">
                                                <a class="bg-primary iq-sign-btn" href="/Login" role="button">退出登录<i
                                                        class="ri-login-box-line ml-2"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
            <!-- TOP Nav Bar END -->
            <div class="container-fluid">
                <div class="content-header ">
                    <div class="content-header-left mb-2 clearfix">
                        <h3 class="content-header-title mb-0 pull-left">订单详情</h3>
                        <ol class="breadcrumb pull-right">
                            <li><a href="/Orders">订单管理</a></li>
                            <li class="active">订单详情</li>
                        </ol>
                    </div>
                    <div class="funcbtn clearfix">
                        <div class="pull-left"><a class="btn btn-default" href="/Orders"> 返回</a></div>
                    </div>
                </div>
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">商品信息</h4>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>商品信息编号</th>
                            <th>商品编号</th>
                            <th>商品名称</th>
                            <th>子属性编号</th>
                            <th>子属性名称</th>
                            <th>商品数量</th>
                            <th>商品主图</th>
                            <th>商品价格</th>
                            <th>下单时间</th>
                            <th>是否删除</th>
<!--                            <th>操作</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="goodsList in goodsInformationList">
                            <td class="orderItem_id">{{goodsList.orderItem_id}}</td>
                            <td>{{goodsList.commodity_id}}</td>
                            <td>{{goodsList.orderItem_goodname}}</td>
                            <td>{{goodsList.sonAttribute_id}}</td>
                            <td>{{goodsList.attribute_name}}</td>
                            <td>{{goodsList.orderItem_amount}}</td>
                            <td><img :src="goodsList.orderItem_goodimage" width="81" height="81"></td>
                            <td>{{goodsList.orderItem_goodprice}}</td>
                            <td>{{goodsList.orderItem_createTime}}</td>
                            <td v-if="goodsList.orderItem_user_delete == 1">是</td>
                            <td v-else>否</td>
<!--                            <td><a href="javaScript:;" @click="updateGoodsList($event)">修改</a>-->
<!--                                <a href="javaScript:;"@click="deleteGoodsList($event)">删除</a>-->
<!--                            </td>-->
                        </tr>
                        </tbody>
                    </table>

                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">订单信息</h4>
                                <h4 class="card-title" style="margin-top: -25px;margin-left: 660px">客户信息</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="bxx">
                                <ul class="row" style="margin-left: -110px;margin-top: -50px">
                                    <li class="col-xl-6">
                                        <ul class="row">
                                            <li class="col-xl-6" v-if="orderInformationList.order_id!=null"><strong>订单编号：</strong>{{orderInformationList.order_id}}
                                            </li><li class="col-xl-6" v-else><strong>订单编号：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.order_status!=null"><strong>订单状态：</strong>{{orderInformationList.order_status}}
                                            </li><li class="col-xl-6" v-else><strong>订单状态：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="shipAddress.address_contact!=null"><strong>联系人：</strong>{{shipAddress.address_contact}}
                                            </li><li class="col-xl-6" v-else><strong>联系人：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="shipAddress.address_phone!=null"><strong>联系电话：</strong>{{shipAddress.address_phone}}
                                            </li><li class="col-xl-6" v-else><strong>联系电话：</strong>暂无数据</li>
                                            <li class="col-xl-6"  v-if="shipAddress.regionAddress!=null"><strong>地区信息：</strong>{{shipAddress.regionAddress}}
                                            </li><li class="col-xl-6"  v-else><strong>地区信息：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="shipAddress.detailAddress!=''"><strong>详细地址信息：</strong>{{shipAddress.detailAddress}}
                                            </li><li class="col-xl-6" v-else><strong>详细地址信息：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.good_sumprice!=null"><strong>商品总价：</strong>{{orderInformationList.good_sumprice}}
                                            </li><li class="col-xl-6" v-else><strong>商品总价：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.order_sumPrice!=null"><strong>订单总价：</strong>{{orderInformationList.order_sumPrice}}
                                            </li><li class="col-xl-6" v-else><strong>订单总价：</strong>暂无数据</li>
                                            <li class="col-xl-6"  v-if="orderInformationList.order_paymentTime!=null"><strong>支付时间：</strong>{{orderInformationList.order_paymentTime}}
                                            </li><li class="col-xl-6"  v-else><strong>支付时间：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.order_remark!=''"><strong>订单备注：</strong>{{orderInformationList.order_remark}}
                                            </li><li class="col-xl-6" v-else><strong>订单备注：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.order_refund_reason!=''"><strong>退款原因：</strong>{{orderInformationList.order_refund_reason}}
                                            </li><li class="col-xl-6" v-else><strong>退款原因：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.order_refund_instructions!=''"><strong>退款说明：</strong>{{orderInformationList.order_refund_instructions}}
                                            </li><li class="col-xl-6" v-else><strong>退款说明：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.order_createTime!=null"><strong>创建时间：</strong>{{orderInformationList.order_createTime}}
                                            </li><li class="col-xl-6" v-else><strong>创建时间：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.order_newCreateTime!=null"><strong>修改时间：</strong>{{orderInformationList.order_newCreateTime}}
                                            </li><li class="col-xl-6" v-else><strong>修改时间：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.order_shipping_time!=null"><strong>发货时间：</strong>{{orderInformationList.order_shipping_time}}
                                            </li><li class="col-xl-6" v-else><strong>发货时间：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.order_confirm_time!=null"><strong>收货时间：</strong>{{orderInformationList.order_confirm_time}}
                                            </li><li class="col-xl-6" v-else><strong>收货时间：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.order_apply_refundTime!=null"><strong>申请退款时间：</strong>{{orderInformationList.order_apply_refundTime}}
                                            </li><li class="col-xl-6" v-else><strong>申请退款时间：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.order_refund_time!=null"><strong>退款时间：</strong>{{orderInformationList.order_refund_time}}
                                            </li><li class="col-xl-6" v-else><strong>退款时间：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="orderInformationList.order_predict_predictTime!=null"><strong>预计到货时间：</strong>{{orderInformationList.order_predict_predictTime}}
                                            </li><li class="col-xl-6" v-else><strong>预计到货时间：</strong>暂无数据</li>
                                            <li class="col-xl-6"  v-if="orderInformationList.order_refund_image!=null"><strong>退款图片：</strong>
                                                <img :src="orderInformationList.order_refund_image">
                                            </li><li class="col-xl-6"  v-else><strong>退款图片：</strong>暂无数据</li>
                                        </ul>
                                    </li>

                                    <li class="col-xl-6" >
                                        <ul class="row" style="margin-left: 50px">
                                            <li class="col-xl-8" v-if="user.user_image!=null"><strong>客户头像：</strong> <img :src="user.user_image" style="margin-left: 80px" width="81" height="81"/>
                                            </li><li class="col-xl-6" v-else><strong>客户头像：</strong>暂无数据</li>
                                            <li class="col-xl-8" v-if="user.user_id!=null" style="margin-top: 80px"><strong>客户账号：</strong>{{user.user_id}}
                                            </li><li class="col-xl-6" v-else><strong>客户账号：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="user.user_name!=null"><strong>客户姓名：</strong>{{user.user_name}}
                                            </li><li class="col-xl-6" v-else><strong>客户姓名：</strong>暂无数据</li>
                                            <li class="col-xl-6" v-if="user.user_phone!=null"><strong>手机号码：</strong>{{user.user_phone}}
                                            </li><li class="col-xl-6" v-else><strong>手机号码：</strong>暂无数据</li>
                                            <li class="col-xl-6"  v-if="user.user_Integral!=null"><strong>客户积分：</strong>{{user.user_Integral}}积分
                                            </li><li class="col-xl-6"  v-else><strong>客户积分：</strong>暂无数据</li>
                                        </ul>
                                    </li>

                                </ul>

                            </div>
                            <!--<a href="javaScript:;" @click="updateOrderList($event)"><button type="button" class="btn btn-primary" id="updatebut">修改订单</button></a>-->
                            <div class="topbtn" style="margin-left: 90px">
                                <a href="#" class="btn btn-primary" id="updatebut"
                                   @click="updateOrderList($event)">修改订单</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/smooth-scrollbar.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script th:src="@{/js/axios-0.18.0.js}"></script>
<script th:src="@{/js/vue.js}"></script>
<script>
    // 获取对应id
    function getQueryString(order_id) {
        var reg = new RegExp('(^|&)' + order_id + '=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        }
    }

    var order_id = getQueryString("order_id");
    console.log("地址栏的编号是", order_id);

    new Vue({
        el: '#app',
        data: {
            orderInformationList: {//订单信息
                order_id: "",
                order_account: "",
                user_id: "",
                good_sumprice: 0,
                order_sumPrice: 0.00,
                order_paymentTime: "YYYY-MM-DD HH：MM：SS",
                order_status: "",
                order_way: "",
                order_remark: "",
                address_id: "",
                order_user_delete: 0,
                order_refund_reason: "",
                order_refund_instructions: "",
                order_refund_image: "",
                order_createTime: "YYYY-MM-DD HH：MM：SS",
                order_newCreateTime: "YYYY-MM-DD HH：MM：SS",
                order_shipping_time: "YYYY-MM-DD HH：MM：SS",
                order_confirm_time: "YYYY-MM-DD HH：MM：SS",
                order_apply_refundTime: "YYYY-MM-DD HH：MM：SS",
                order_refund_time: "YYYY-MM-DD HH：MM：SS",
                order_predict_predictTime: "YYYY-MM-DD HH：MM：SS"
            },
            goodsInformationList: {//商品信息
                orderItem_id: "",
                order_id: "",
                commodity_id: "",
                sonAttribute_id: "",
                orderItem_amount: 0,
                orderItem_goodname: "",
                orderItem_goodimage: "",
                Attribute_name: "",
                orderItem_goodprice: 0.00,
                orderItem_createTime: "YYYY-MM-DD HH：MM：SS",
                orderItem_user_delete: 0
            },
            shipAddress:{},
            user:{},
            //每页显示数
            pageSize: 5,
            //总条目数
            totalCount: 0,
            // 当前页码
            currentPage: 1,
        },
        mounted() {//页面初始化方法
            //调用商品详情
            // goodsList(e);
            // 获取后台订单数据
            axios
                .get('/getOrderInformation?order_id='+order_id)
                .then(response => (//请求成功
                    console.log(response.data.data),
                        this.orderInformationList = response.data.data,
                        this.goodsInformationList = response.data.data.orderItem,
                        this.shipAddress = response.data.data.shipAddress,
                        this.user = response.data.data.user,
                        console.log(this.orderInformationList)
                ))
                .catch(function (error) {
                    console.log(error);//请求失败
                })
        },
        methods: {

            //删除商品信息
            deleteOrderList(e) {
                if (confirm("您是否确定删除")) {
                    var id = e.currentTarget.parentElement.parentElement.getElementsByClassName("orderItem_id")[0].innerText;
                    axios.get('/接口?orderItem_id=' + id)
                        .then(response => {
                            console.log("成功");
                            console.log(response.data)//返回的数据
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                }
            },

            // 修改商品详情
            updateGoodsList(e) {
                console.log("你好丫~")
                var id = e.currentTarget.parentElement.parentElement.getElementsByClassName("orderItem_id")[0].innerText;
                e.currentTarget.href = 'Modify_goodslist?orderItem_id=' + id;
                console.log(e.currentTarget.href);
            },

            //  修改订单信息
            updateOrderList(e) {
                console.log("你在干嘛丫~")
                e.currentTarget.href = 'Modify_orders?order_id=' + order_id;
                console.log(e.currentTarget.href);
            }
        }
    })

</script>
</body>

</html>