<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.shipAddressMapper">
<!--    添加用户收货地址-->
    <insert id="addShipAddress"  parameterType="com.Pojo.shipAddress">
        insert into shipAddress(address_id,regionAddress,detailAddress,address_contact,address_phone,address_default,address_state)
        values (#{address_id},#{regionAddress},#{detailAddress},#{address_contact},#{address_phone},#{address_default},#{address_state})
    </insert>

</mapper>